/* Estilo nav */
#navbarNavAltMarkup {
    display: flex !important;
    flex-direction: row !important; 
    justify-content: flex-end !important;
}
.navbar-brand {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-size: 25px !important;
}